<app-loader></app-loader>
<div class="formcontent" *ngIf="!isResetPassword">
  <div class="left_div">
    <div class="tophead">
      <a href="/" class="logo">
        <img
          class="avatar"
          src="assets/images/logo/logo.svg"
          alt="logo"
          width="160"
        />
      </a>
    </div>
    <div class="img_div">
      <img class="mb-4" src="assets/images/forgetpassword.svg" alt="key" />
    </div>
  </div>

  <div class="right_div" *ngIf="!sendResetLink">
    <div class="right_inner_div">
      <h3 class="title-1">Forgot password ?</h3>
      <p class="title-2">No worries, we’ll send you reset instructions.</p>

      <div class="Error" *ngIf="errorMessage">
        <div>
          <img
            class="mr-2"
            src="assets/images/error.svg"
            alt="Error"
            width="17"
          />
        </div>

        <span style="font-size: 14px">{{ errorMessage }}</span>
      </div>

      <form class="text-left" [formGroup]="emailForm">
        <div class="form-group mb-5">
          <label>Email <span style="color: red">*</span></label>

          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Enter your email"
          />
          <div
            class="invalid-feedback d-block"
            *ngIf="submitted && hasError('email', 'pattern')"
          >
            Please enter a valid email address.
          </div>
          <div
            class="invalid-feedback d-block"
            *ngIf="submitted && hasError('email', 'required')"
          >
            Please enter email.
          </div>
        </div>
        <button
          type="submit"
          (click)="forgetPassword()"
          class="btn btn-block btn-submit"
        >
          Reset password
        </button>
        <div class="backto-text">
          <div class="backto" routerLink="/auth/login">
            <span class="backto-text">Back to login</span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="right_div" *ngIf="sendResetLink">
    <div class="right_inner_div">
      <h3 class="title-1">Check your email ?</h3>
      <p class="title-2 mb-2">We sent a password reset link to</p>
      <p class="title-3 mb-3">{{ emailForm.get("email")?.value }}</p>

      <div class="Error" *ngIf="errorMessage">
        <div>
          <img
            class="mr-2"
            src="assets/images/error.svg"
            alt="Error"
            width="17"
          />
        </div>

        <span style="font-size: 14px">{{ errorMessage }}</span>
      </div>

      <form>
        <button
          type="submit"
          (click)="backToForgetPassword()"
          class="btn btn-block btn-submit"
        >
          Reset password
        </button>
        <div class="bottomtxt text-left">
          Didn’t receive the email? <a>Click to resend</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="formcontent"
  *ngIf="isResetPassword && resetToken && !isPasswordUpdated"
>
  <div class="left_div">
    <div class="tophead">
      <a href="/" class="logo">
        <img
          class="avatar"
          src="assets/images/logo/logo.svg"
          alt="logo"
          width="160"
        />
      </a>
    </div>
    <div class="img_div">
      <img class="mb-4" src="assets/images/forgetpassword.svg" alt="key" />
    </div>
  </div>
  <div class="right_div">
    <div class="right_inner_div">
      <h3 class="title-1">Set new password ?</h3>
      <p class="title-2">
        Your new password must be different to previously used passwords.
      </p>
      <div class="Error" *ngIf="errorMessage">
        <div>
          <img
            class="mr-2"
            src="assets/images/error.svg"
            alt="Error"
            width="17"
          />
        </div>

        <span style="font-size: 14px">{{ errorMessage }}</span>
      </div>
      <form
        class="text-left"
        [formGroup]="updatePasswordForm"
        (ngSubmit)="updatePassword()"
      >
        <div class="form-group">
          <label>Password <span style="color: red">*</span></label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Create a password"
          />
          <div
            class="invalid-feedback d-block"
            *ngIf="
              (submitted ||
                updatePasswordForm.get('confirmPassword')?.touched) &&
              hasErrorPassword('confirmPassword', 'required')
            "
          >
            Please enter a password.
          </div>
        </div>

        <div class="form-group">
          <label>Confirm Password <span style="color: red">*</span></label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Create a password"
          />
          <div
            class="invalid-feedback d-block"
            *ngIf="
              (submitted ||
                updatePasswordForm.get('confirmPassword')?.touched) &&
              updatePasswordForm.hasError('MatchPassword')
            "
          >
            Please enter a confirm password.
          </div>
          <div
            class="invalid-feedback d-block"
            *ngIf="submitted && updatePasswordForm.hasError('MatchPassword')"
          >
            Passwords do not match.
          </div>
        </div>

        <button
          type="submit"
          [disabled]="!updatePasswordForm.valid"
          class="btn btn-block btn-submit"
        >
          Reset password
        </button>

        <div class="backto-text">
          <div class="backto" routerLink="/auth/login">
            <span class="backto-text">Back to login</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="formcontent" *ngIf="isPasswordUpdated">
  <div class="left_div">
    <div class="tophead">
      <a href="/" class="logo">
        <img
          class="avatar"
          src="assets/images/logo/logo.svg"
          alt="logo"
          width="160"
        />
      </a>
    </div>
    <div class="img_div">
      <img class="mb-4" src="assets/images/forget_password1.svg" alt="key" />
    </div>
  </div>
  <div class="right_div">
    <div class="right_inner_divs">
      <img
        class="mb-4"
        style="text-align: left"
        src="assets/images/tick-icon.svg"
        alt="tick"
        width="75"
      />
      <h3 class="title-1">Password reset successfully</h3>
      <p class="title-2">
        Your password has been successfully reset. Click below to log in
        magically.
      </p>
      <form class="text-left">
        <button
          type="submit"
          (click)="logIn()"
          class="btn btn-block btn-submit"
        >
          Continue
        </button>
      </form>
    </div>
  </div>
</div>
