<mat-dialog-content>
  <div class="ide-tophead">
    <div class="title-1">Top Cities in {{ data?.country }}</div>
    <div class="title-2">
      people from these cities engaged with your content more.
    </div>
    <span class="ide-close" [mat-dialog-close]="false">X</span>
  </div>
  <div class="d-inline-block w-100">
    <div class="pull-left w-100 mt-2" *ngFor="let item of data?.data">
      <div class="ide-city-name">
        {{ item?.city == data?.country ? "Unknown" : item?.city }}
      </div>
      <div class="ide-city-chart">
        <div class="ide-city-line" [style.width.%]="item?.count"></div>
        <div class="ide-city-text">{{ item?.count }}</div>
      </div>
    </div>
    <!-- <div class="pull-left w-100 mt-2">
      <div class="ide-city-name">Bangalore, Karnataka, India</div>
      <div class="ide-city-chart">
        <div class="ide-city-line" style="width: 50%"></div>
        <div class="ide-city-text">3.6%</div>
      </div>
    </div>
    <div class="pull-left w-100 mt-2">
      <div class="ide-city-name">Hyderabad, Telangana, India</div>
      <div class="ide-city-chart">
        <div class="ide-city-line" style="width: 30%"></div>
        <div class="ide-city-text">38.9%</div>
      </div>
    </div>
    <div class="pull-left w-100 mt-2">
      <div class="ide-city-name">Bangalore, Karnataka, India</div>
      <div class="ide-city-chart">
        <div class="ide-city-line" style="width: 20%"></div>
        <div class="ide-city-text">3.6%</div>
      </div>
    </div> -->
  </div>
</mat-dialog-content>
