<div *ngIf="aiGeneratedData">
  <div class="customdrop-head">
    <h3 class="droptitle">
      {{ dialogTitle }}
    </h3>
    <span class="dropclose" [mat-dialog-close]="false">X</span>
  </div>
  <mat-dialog-content>
    <!-- For KeyWord -->
    <div *ngIf="dialogType == 'keyword' || dialogType == 'targetAudience'">
      <div class="boxcus">
        <div class="cust_rad_btn" *ngFor="let topicValue of aiGeneratedData">
          <input
            type="checkbox"
            [value]="topicValue?.data"
            (click)="selectKeyword($event)"
            name=""
          /><label>{{ topicValue?.data }}</label>
        </div>
      </div>
    </div>
    <!-- For targetAudience -->
    <div
      class="boxcus"
      *ngIf="
        dialogType == 'objective' ||
        dialogType == 'topic' ||
        dialogType == 'callOfAction'
      "
    >
      <div
        class="cust_rad_btn"
        (click)="selectTopic(i)"
        *ngFor="let list of aiGeneratedData; let i = index"
      >
        <label [class.active]="isSelectIndex == i">{{ list?.data }}</label>
      </div>
    </div>
    <!-- For Yourself -->
    <div *ngIf="dialogType == 'yourself'">
      <textarea
        class="form-control"
        [(ngModel)]="yourself"
        placeholder="type"
        rows="5"
      ></textarea>
    </div>
    <div
      class="invalid-feedback d-block mt-2"
      *ngIf="isSubmited && (!selectedTopic || !selectedKeywords || !yourself)"
    >
      {{ errorText }}
    </div>
  </mat-dialog-content>

  <div class="customdrop-foot text-center">
    <button
      class="btn btn-save mr-2"
      type="button"
      (click)="generateCommonPrompt(dialogType)"
    >
      <img width="20" src="assets/images/star-two-white.svg" alt="star" />
      Regenerate
    </button>
    <button class="btn btn-save" type="button" (click)="useTopic()">
      Submit
    </button>
  </div>
</div>
