<mat-dialog-content>
  <div class="hirean-modal">
    <h4>Need Expert Help?</h4>
    <h5>Delegate your marketing efforts to our pros</h5>
    <div class="checklist">
      <label class="checkbtn"
        >Premium Lead Generation Strategies for High-Quality Leads
        <input type="checkbox" value="" />
        <span class="checkmark"></span>
      </label>
      <label class="checkbtn"
        >Dynamic Email Marketing Campaigns to Drive Conversions
        <input type="checkbox" value="" />
        <span class="checkmark"></span>
      </label>
      <label class="checkbtn"
        >Tailored Landing Pages Designed to Maximize Conversions
        <input type="checkbox" value="" />
        <span class="checkmark"></span>
      </label>
      <label class="checkbtn"
        >Unique Website Designs Crafted to Elevate Your Brand
        <input type="checkbox" value="" />
        <span class="checkmark"></span>
      </label>
      <label class="checkbtn"
        >Engage Customers with Behavioral Automation for Personalized Experiences
        <input type="checkbox" value="" />
        <span class="checkmark"></span>
      </label>
      <label class="checkbtn"
        >Boost Online Visibility with Advanced SEO Techniques
        <input type="checkbox" value="" />
        <span class="checkmark"></span>
      </label>
      <label class="checkbtn"
        >Customized Solutions to Meet Your Specific Marketing Goals
        <input type="checkbox" value="" />
        <span class="checkmark"></span>
      </label>
    </div>
    <button class="btn btn-block" type="button">
      Begin Your Journey to Success
    </button>
    <p>Select the required service! We will reach out to you!</p>
  </div>
</mat-dialog-content>
