.clg-top-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #001141;
    margin-bottom: 8px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #393939;
  }
}

.ide-generate-home {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
  min-height: 60vh;
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #172b4d;
    margin-bottom: 15px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 24px;
  }
  .btn-orange {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    padding: 4px 12px;
    min-height: 32px;
    background: #f53d00;
    border-radius: 4px;
  }
}

.ide-article-setup-div {
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
  width: 100%;
  max-width: 840px;
  .created-progress {
    width: 100%;
    height: 6px;
    background: #f7f8f9;
    border-radius: 3px;
    margin-bottom: 20px;
    .insidebar {
      height: 6px;
      background: #fe4810;
      border-radius: 3px;
      transition: width 0.4s ease-in-out;
    }
  }
  .article-boxs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 16px;
    background: #ffffff;
    box-shadow: -2px 2px 4px rgba(30, 30, 30, 0.25),
      2px 2px 4px rgba(30, 30, 30, 0.15);
    border-radius: 4px;
    .row {
      margin-left: -8px;
      margin-right: -8px;
      .col-12 {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
  .article-scrool {
    width: 100%;
    //overflow: auto;
    min-height: 430px;
  }
  .label-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #172b4d;
  }
  .label-title-sub {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #172b4d;
  }
  .article-btnlist-fristSlide {
    display: flex;
    justify-content: flex-end !important;
  }
  .article-btnlist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .btn-back {
      padding: 4px 12px;
      border: 1px solid #393939;
      border-radius: 4px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      text-transform: capitalize;
      color: #001141;
    }
    .btn-next {
      padding: 4px 12px;
      background: #f53d00;
      border-radius: 4px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      text-transform: capitalize;
      color: #fff;
    }
  }
  .btn-group-toggle {
    .custom-check-1 {
      width: 100%;
      display: flex;
      padding: 12px;
      margin-bottom: 10px;
      background: #ffffff;
      border: 1px solid #8590a2;
      border-radius: 4px;
      outline: none;
      box-shadow: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;
      color: #172b4d;
    }
    .active {
      background: #fdf5ed !important;
      border: 2px solid #ff6f47 !important;
    }
  }
  .idea-box {
    display: inline-block;
    width: 100%;
    position: relative;
    .form-control {
      background: #ffffff;
      border: 1px solid #626f86;
      border-radius: 8px;
      resize: none;
      padding-bottom: 20px;
      outline: none;
      box-shadow: none;
      &:focus {
        border: 1px solid #ec4a0a;
      }
    }
    .promt-action {
      background-color: #fff;
      position: absolute;
      bottom: 2px;
      right: 15px;
    }
  }
  .suggested-div {
    .suggested-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #626f86;
      margin-bottom: 10px;
    }
    .suggested-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      ::ng-deep {
        .ngx-foreground-spinner {
          width: 20px !important;
          height: 20px !important;
          left: 0;
          transform: translateX(0);
        }
      }
      .suggested {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        color: #001141;
        padding: 2px 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        background: rgba(0, 17, 65, 0.08);
        border-radius: 16px;
        cursor: pointer;
        .fa {
          display: none;
          margin-left: 3px;
          vertical-align: middle;
        }
        &.on-active {
          background: #ffdad1;
          .fa {
            display: inline-block;
          }
        }
      }
      .on-active {
        background: #ffdad1;
        .fa {
          display: inline-block;
        }
      }
    }
  }
  tag-input {
    ::ng-deep {
      .ng2-tag-input {
        padding: 2px 4px;
        border: 2px solid rgba(9, 30, 66, 0.14);
        border-radius: 3px;
      }
      tag {
        color: #c4320a;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        background: #fff6ed;
        border-radius: 16px;
        padding: 2px 10px;
        display: inline-block;
        vertical-align: middle;
      }
      delete-icon svg {
        height: 30px !important;
      }
    }
  }
  .choose-head-input {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2c3e5d;
    padding: 8px;
    border: 1px solid #fe4810;
    border-radius: 3px;
  }
  .btn-regenerate {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #172b4d;
    background: rgba(9, 30, 66, 0.0588);
    border-radius: 4px;
  }
  .heading-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    ::ng-deep {
      .ngx-foreground-spinner {
        width: 50px !important;
        height: 50px !important;
        transform: translateX(0);
      }
    }
    .btn-simple {
      font-weight: 500;
      font-size: 14px;
      color: #172b4d;
      text-align: left;
      width: 100%;
      display: flex;
      padding: 8px 14px;
      background: #ffffff;
      border: 1px solid #8590a2;
      border-radius: 4px;
    }
    .btn-select {
      background: #fdf5ed;
      border: 2px solid #ff6f47;
    }
  }
  .idea-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-height: 50px;
    ::ng-deep {
      .ngx-foreground-spinner {
        width: 20px !important;
        height: 20px !important;
        left: 0;
        transform: translateX(0);
      }
    }
    .btn-simple {
      font-weight: 500;
      font-size: 14px;
      color: #172b4d;
      text-align: left;
      width: 100%;
      display: flex;
      padding: 8px 14px;
      background: #ffffff;
      border: 1px solid #8590a2;
      border-radius: 4px;
    }
    .btn-select {
      background: #fdf5ed;
      border: 2px solid #ff6f47;
    }
  }
  .tag-div {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    tag-input {
      width: 100%;
    }
    .btn-add {
      flex: 80px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;
      color: #2c3e5d;
      padding: 4px;
      gap: 4px;
      background: rgba(9, 30, 66, 0.0588);
      border-radius: 4px;
    }
  }
  .custom-tablist-1 {
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #dddfe5;
    .tabs {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #172b4d;
      margin: 0 5px;
      padding: 12px;
      border: none;
      border-bottom: 2px solid transparent;
      background-color: transparent;
    }
    .active-btn {
      color: #f53d00;
      border-color: #f53d00;
    }
  }
  .custom-tabcontent-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    /*max-height: 290px;
    overflow: auto;*/
    margin: 15px 0;
    padding: 16px;
    background: #f7f8f9;
    border: 1px solid #44546f;
    border-radius: 4px;
    .layers-drag {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 8px;
      background: #ffffff;
      border: 1px solid #8590a2;
      border-radius: 4px;
      .text {
        overflow: hidden;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #172b4d;
        padding: 5px;
      }
      .trash-img {
        opacity: 0;
      }
      &:hover {
        .trash-img {
          opacity: 1;
        }
      }
    }
    .layers-drag-sub {
      width: 95%;
      margin-left: auto;
    }
    .btn-custom {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;
      color: #172b4d;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 7px;
      gap: 4px;
      min-height: 32px;
      background: rgba(9, 30, 66, 0.0588);
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .custom-tabsearch {
    width: 100%;
    display: flex;
    align-items: center;
    .form-control {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      padding: 8px;
      border: 1px solid #fe4810;
      border-radius: 3px;
    }
  }
  .custom-input-1 {
    background: #ffffff;
    border: 1px solid #dcdfe4;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #282c5f;
  }
  .select-length {
    display: flex;
    align-items: center;
    gap: 5px;
    .form-control {
      height: 32px;
      width: 40px;
      border: none;
      background-color: #fdf5ed;
    }
    .btns {
      color: #c4320a;
      font-size: 20px;
      text-align: center;
      display: inline-block;
      border-radius: 3px;
      background: #ffdad1;
      cursor: pointer;
      padding: 0px 10px;
      width: 34px;
      height: 32px;
      min-height: 32px;
    }
  }
  .switch-title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .text1 {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #001141;
    }
    .text2 {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #525252;
    }
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    text-align: left;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #e4e7ec;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;
      &:before {
        content: "";
        position: absolute;
        height: 15px;
        width: 15px;
        left: 3px;
        top: 3px;
        z-index: 1;
        background-color: #fcfcfd;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
      }
    }
    input:checked ~ {
      .slider {
        background-color: #f53d00;
        &:before {
          -webkit-transform: translateX(19px);
          -ms-transform: translateX(19px);
          transform: translateX(19px);
        }
      }
    }
  }
  .custom-check-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;
    background: #ffffff;
    border: 1px solid #8d8d8d;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #172b4d;
    cursor: pointer;
    input {
      margin-left: auto;
      position: static;
    }
    &.active {
      border-color: #f53d00;
      background: #fdf5ed;
    }
    input[type="checkbox"] {
      accent-color: #f53d00;
    }
  }
  .custom-links-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    background: #f7f8f9;
    border: 2px solid rgba(9, 30, 66, 0.14);
    border-radius: 3px;
    .cus-link {
      display: flex;
      align-items: center;
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #001141;
      padding: 2px 5px;
      background: #ffdad1;
      border-radius: 16px;
      cursor: pointer;
      .fa {
        margin-left: auto;
        vertical-align: middle;
      }
    }
  }
}
.disabled {
  opacity: 0.5;
  pointer-events: none !important;
}
.step1-loader {
  min-height: 150px;
  ::ng-deep {
    .ngx-foreground-spinner {
      width: 50px !important;
      height: 50px !important;
      transform: translateX(0);
    }
  }
}
.link-span {
  overflow: hidden;
}
.ide-custom-select {
  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      background-color: #fff !important;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      .mat-mdc-form-field-focus-overlay {
        display: none;
      }
    }
    .mdc-line-ripple {
      display: none;
    }
    .mat-mdc-form-field-infix {
      font-size: 14px;
      padding: 4px 0 !important;
      min-height: 16px;
    }
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
    .mat-mdc-select-trigger {
      font-size: 14px;
      color: black;
    }
    .mat-mdc-option.mdc-list-item {
      font-size: 14px;
    }
  }
}
.credit-div {
  margin-left: 3px;
  font-size: small;
  padding: 2px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}
