.ide-boxes {
  padding: 8px;
  height: 100%;
  background-color: #faf9f7;
  .ide-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #001141;
    padding: 0 8px;
  }
  .ide-boxes-div {
    margin-top: 16px;
    overflow: auto;
    height: calc(100vh - 115px);
    padding: 8px 4px 8px 8px;
    background: #ffffff;
    border-radius: 4px;
  }
}
.ide-layers {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 8px;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #fff;
  &:hover {
    background: #f4f4f4;
  }
  .text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
    padding: 5px;
  }
}


.middle-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .themeimg {
    width: 100%;
    margin: 10px 0;

    .themeimgdiv {
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      border: 2px solid #fff;
      opacity: 0.9;
      cursor: pointer;
      margin-bottom: 8px;
      &:before {
        content: "";
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
      }
    }
    .temp-title-1 {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #626f86;
      margin-bottom: 4px;
    }
    .temp-title-2 {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #626f86;
    }

    &.select-theme {
      .themeimgdiv {
        opacity: 1;
        border-color: #ec4a0a;
      }
    }

    &:hover {
      .themeimgdiv {
        &:before {
          opacity: 1;
        }
      }

      .themebtns {
        opacity: 1;
      }

      .counts {
        opacity: 1;
      }
    }
  }

  .themebtns {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    cursor: pointer;
    transform: translate(-50%, -50%);

    img {
      cursor: pointer;
      margin: 3px;
    }
  }

  .imgs {
    display: block;
    width: 100%;
  }

  .counts {
    opacity: 0;
    color: #fff;
    font-size: 10px;
    line-height: 1.1;
    padding: 4px 6px;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #2f3164;
  }
}