.top-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #172b4d;
  padding: 16px 20px;
}
.desq {
  padding: 16px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #172b4d;
}
.btnlist {
  padding: 12px 20px;
  text-align: right;
  .btn {
    margin: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #172b4d;
    padding: 4px 12px;
    min-height: 32px;
    border: 1px solid #626f86;
    border-radius: 4px;
  }
  .btn-1 {
    color: #fff;
    background: #f53d00;
    border-color: #f53d00;
  }
}
