.close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.btn-usethis {
  margin: 30px 0 20px 0;
  color: #fff;
  background-color: #ec4a0a;
}

.carousel {
  ::ng-deep {
    .slick-prev:before,
    .slick-next:before {
      color: #ec4a0a;
      opacity: 1;
    }
    .slick-prev {
      left: -20px;
    }
    .slick-next {
      right: -20px;
    }
  }
}

.main-img {
  max-width: 400px;
  width: 100%;
  border-radius: 16px;
}
.slides-div {
  width: 100%;
  display: flex;
  overflow: auto;
  justify-content: center;
  .slides {
    margin: 5px;
    padding: 5px;
    border-radius: 16px;
    max-width: 160px;
    cursor: pointer;
    opacity: 0.5;
  }
  .actslide {
    opacity: 1;
    border: 2px solid #ec4a0a;
  }
}
