.clg-top-title {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 0;
  position: sticky;
  top: 56px;
  z-index: 1;
  background-color: #F5F5F5;
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #001141;
    margin-bottom: 8px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #393939;
  }
}

.ide-article-setup-div {
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
  width: 100%;
  max-width: 840px;
  .created-progress {
    width: 100%;
    height: 6px;
    background: #E9EBEE;
    border-radius: 3px;
    margin-bottom: 20px;
    .insidebar {
      height: 6px;
      background: #fe4810;
      border-radius: 3px;
      transition: width 0.4s ease-in-out;
    }
  }
  .article-boxs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 16px;
    background: #ffffff;
    box-shadow: -2px 2px 4px rgba(30, 30, 30, 0.25),
      2px 2px 4px rgba(30, 30, 30, 0.15);
    border-radius: 4px;
    .row {
      margin-left: -8px;
      margin-right: -8px;
      .col-12 {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
  .article-scrool {
    width: 100%;
    //overflow: auto;
    min-height: 430px;
  }
  .label-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #172b4d;
  }
  .label-title-sub {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #172b4d;
  }
  .custom_arrow {
    .fa-chevron-down {
      position: absolute;
      top: 10px;
      right: 5px;
      font-size: 14px;
    }
  }
  .article-btnlist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    .btn-back {
      padding: 4px 12px;
      border: 1px solid #393939;
      border-radius: 4px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      text-transform: capitalize;
      color: #001141;
    }
    .btn-next {
      padding: 4px 12px;
      background: #f53d00;
      border-radius: 4px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      text-transform: capitalize;
      color: #fff;
    }
  }
  .idea-box {
    display: inline-block;
    width: 100%;
    position: relative;
    .form-control {
      background: #ffffff;
      border-radius: 8px;
      resize: none;
      padding-bottom: 20px;
      outline: none;
      box-shadow: none;
      &:hover{
        border-color: #f53d00;
      }
      &:focus{
        border-color: #f53d00;
      }
    }
    .promt-action {
      background-color: #fff;
      position: absolute;
      bottom: 2px;
      right: 15px;
    }
  }
  .custom-input-1 {
    background: #ffffff;
    border: 1px solid #dcdfe4;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #282c5f;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
  .select-img {
    border: 4px solid #ff6f47;
    border-radius: 10px;
  }
  .switch-title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .text1 {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #001141;
    }
    .text2 {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #525252;
    }
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    text-align: left;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #e4e7ec;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;
      &:before {
        content: "";
        position: absolute;
        height: 15px;
        width: 15px;
        left: 3px;
        top: 3px;
        z-index: 1;
        background-color: #fcfcfd;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
      }
    }
    input:checked ~ {
      .slider {
        background-color: #f53d00;
        &:before {
          -webkit-transform: translateX(19px);
          -ms-transform: translateX(19px);
          transform: translateX(19px);
        }
      }
    }
  }
  .coloues-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    border-radius: 4px;
    .boxs {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin: 0 auto;
      font-size: 24px;
      width: 64px;
      height: 64px;
      background-color: #f7f8f9;
      border: 2px solid #dcdfe4;
      border-radius: 4px;
      cursor: pointer;
      position: relative;
      input {
        opacity: 0;
        position: absolute;
      }
    }
    .ide-close {
      position: absolute;
      right: 0px;
      top: 0px;
      opacity: 0;
    }
    .text1 {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #172b4d;
    }
    .boxs:hover {
      border: 2px solid #e53701;
      transition: 0.5s;
    }
    .text2 {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #ffffff;
      padding: 2px 4px;
      background: #44546f;
      border-radius: 3px;
      margin-top: 5px;
    }
    .ide-close {
      position: absolute;
      right: 0px;
      top: 0px;
      opacity: 0;
    }
  }
}
