<div class="ide-boxes">
    <h5 class="ide-title">
      Profile shot
      <img
        class="img-fluid align-center"
        src="assets/images/help-icon.svg"
        alt="help-icon"
        matTooltip="Profile shot"
        matTooltipPosition="below"
      />
    </h5>
    <div class="ide-boxes-div">
      <div class="mb-3">
        <div class="switch-title mb-1">
          <div class="text1">
            Use Brand kit settings
            <img
              class="img-fluid align-center"
              src="assets/images/help-icon.svg"
              alt="help-icon"
              matTooltip="Use Brand kit settings"
              matTooltipPosition="below"
            />
          </div>
          <label class="switch ml-2">
            <input type="checkbox" (change)="switchOnBrandkit($event)" [checked]="applyBrandKit"/>
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="mb-3">
        <div class="switch-title mb-1">
          <div class="text1">
            Profile Avatar
            <img
              class="img-fluid align-center"
              src="assets/images/help-icon.svg"
              alt="help-icon"
              matTooltip="Profile Avatar"
              matTooltipPosition="below"
            />
          </div>
          <label class="switch ml-2">
            <input type="checkbox" [checked]="isProfileAvtarVisible" (change)="changeAvtarVisible($event,'profile')"/>
            <span class="slider"></span>
          </label>
        </div>
        <div class="profile-avatar">
          <img
            class="img-fluid profile-img mb-1"
            [src]="profileAvtar"
            alt="avatar"
          />
          <label for="" class="file-upload" *ngIf="!applyBrandKit">
            <input type="file" (change)="uploadImage($event)">
            <img class="img-fluid mr-1" src="assets/images/carousels-v2/editor-images-1.svg" alt="editor-images"> Change image
          </label>
        </div>
      </div>
      <div class="mb-3">
        <div class="switch-title mb-1">
          <div class="text1">
            Handle / Website
            <img
              class="img-fluid align-center"
              src="assets/images/help-icon.svg"
              alt="help-icon"
              matTooltip="Handle / Website"
              matTooltipPosition="below"
            />
          </div>
          <label class="switch ml-2">
            <input type="checkbox" [checked]="isHandleVisible" (change)="changeAvtarVisible($event,'handle')"/>
            <span class="slider"></span>
          </label>
        </div>
        <input
          type="text"
          [(ngModel)]="handleDesigText"
          (keyup)="onChangeDesigText($event)"
          class="form-control"
          placeholder="xyz@likneidn"
        />
      </div>
    </div>
  </div>
  