<!-- <div class="clg-top-title">
  <div class="leftside">
    <h2>Ai article</h2>
    <p>Start with an idea, and we’ll handle the writing for you.</p>
  </div>
</div> -->

<div class="ide-article-home">
  <div class="label-title mb-3 w-100">
    CTA settings
    <img
      src="assets/images/help-icon.svg"
      alt="help-icon"
      matTooltip="CTA settings"
      matTooltipPosition="above"
    />
  </div>
  <div class="article-details">
    <div class="article-detail-left">
      <div class="custom-tablist-1" *ngIf="cta && cta?.length > 1">
        <button
          type="button"
          *ngFor="let item of cta; let i = index"
          class="tabs"
          (click)="selectTab(i)"
          [class.active-btn]="selectedTabIndex == i"
        >
          CTA {{ i + 1 }}
        </button>
      </div>
      <div class="custom-tabcontent-1 w-100 p-3">
        <div class="mb-3 w-100">
          <div class="label-title mb-2 w-100">
            CTA Message
            <img
              src="assets/images/help-icon.svg"
              alt="help-icon"
              matTooltip="CTA Message"
              matTooltipPosition="above"
            />
          </div>
          <input
            (input)="onCtaMessage($event)"
            [(ngModel)]="ctaMessage"
            type="text"
            placeholder="cta message"
            class="form-control choose-head-input"
          />
          <div
            class="invalid-feedback d-block"
            *ngIf="isInvalidCta && !ctaMessage"
          >
            Please enter cta message.
          </div>
        </div>
        <div class="mb-3 w-100">
          <div class="label-title mb-2 w-100">
            CTA text
            <img
              src="assets/images/help-icon.svg"
              alt="help-icon"
              matTooltip="CTA text "
              matTooltipPosition="above"
            />
          </div>
          <input
            [(ngModel)]="ctaBtnText"
            type="text"
            placeholder="Cta text"
            class="form-control choose-head-input"
          />
          <div
            class="invalid-feedback d-block"
            *ngIf="isInvalidCta && !ctaBtnText"
          >
            Please enter cta text.
          </div>
        </div>
        <div class="mb-3 w-100">
          <!-- <div class="switch-title mb-3">
            <div class="text1">
              Use Brand kit settings
              <img
                src="assets/images/help-icon.svg"
                alt="help-icon"
                matTooltip="Use Brand kit settings"
                matTooltipPosition="above"
              />
            </div>
            <label class="switch mx-3">
              <input
                type="checkbox"
                (change)="selectBrandkit($event)"
                [(ngModel)]="isBrandkit"
              />
              <span class="slider"></span>
            </label>
          </div> -->
          <div class="label-title mb-3 w-100">
            Background Colour
            <img
              src="assets/images/help-icon.svg"
              alt="help-icon"
              matTooltip="Background Colour"
              matTooltipPosition="above"
            />
          </div>
          <div class="coloues-box">
            <div class="lists text-center">
              <div class="boxs" [style.background-color]="bgColor">
                <img
                  *ngIf="bgColor"
                  (click)="removeColor()"
                  width="22"
                  src="assets/images/close-2.png"
                  alt="close"
                  class="ide-close pointer"
                /><input
                  type="color"
                  [(ngModel)]="bgColor"
                  (input)="onColorChange($event)"
                />
                <span *ngIf="!bgColor"> +</span>
              </div>
            </div>
          </div>
          <div
            class="invalid-feedback d-block"
            *ngIf="isInvalidCta && !bgColor"
          >
            Please select color.
          </div>
        </div>
        <div class="mb-3 w-100">
          <div class="label-title mb-2 w-100">
            Background image type
            <img
              src="assets/images/help-icon.svg"
              alt="help-icon"
              matTooltip="Background image type"
              matTooltipPosition="above"
            />
          </div>
          <div
            class="invalid-feedback d-block"
            *ngIf="isInvalidCta && !aiGenratedBgUrl && !customBgUrl"
          >
            Please select any image.
          </div>
          <div class="background-images">
            <div class="image-generated-div">
              <label class="radiodiv">
                <div class="text">Generated image</div>
                <input
                  type="radio"
                  name="radios"
                  (change)="choiceBackgroundOptions('generatedImage')"
                  [checked]="isAigenratedBgImage"
                />
                <div class="radios"></div>
              </label>
              <div *ngIf="isAigenratedBgImage" class="mt-4">
                <div *ngIf="!aiGenratedBgUrl">
                  <label class="labels"
                    >Choose Image Source
                    <img
                      src="assets/images/help-icon.svg"
                      alt="help-icon"
                      class="img-fluid align-center"
                      matTooltip="Choose Image Source"
                      matTooltipPosition="below"
                    />
                  </label>
                  <select
                    class="form-control mb-2"
                    [(ngModel)]="generateImageType"
                  >
                    <option value="ai-Image">Ai Image</option>
                    <option value="pexel-image">Pexel Image</option>
                  </select>
                  <label
                    class="file-change generate-img"
                    (click)="generateImage()"
                    ><img
                      src="assets/images/carousels-v2/re-fresh.svg"
                      alt="editor-images"
                      class="img-fluid mr-1"
                    />
                    Generate image
                    <span
                      *ngIf="generateImageType == 'ai-Image'"
                      [matTooltip]="creditMessage"
                      class="credit-div"
                      matTooltipPosition="above"
                      ><i class="fa fa-cubes" aria-hidden="true"></i
                      >{{ creditDeducated }}</span
                    >
                  </label>
                </div>
                <div class="choose-image" *ngIf="aiGenratedBgUrl">
                  <img
                    alt="bg-demo"
                    class="img-fluid"
                    [src]="aiGenratedBgUrl"
                  />
                  <i
                    class="fa fa-times"
                    (click)="removeBgImage('generate')"
                  ></i>
                </div>
                <label
                  class="file-change"
                  *ngIf="aiGenratedBgUrl"
                  (click)="generateImage()"
                  ><img
                    src="assets/images/carousels-v2/re-fresh.svg"
                    alt="editor-images"
                    class="img-fluid mr-1"
                  />
                  Regenerate image
                </label>
              </div>
            </div>
            <div class="image-generated-div">
              <label class="radiodiv">
                <div class="text">Custom image</div>
                <input
                  type="radio"
                  name="radios"
                  (change)="choiceBackgroundOptions('customImage')"
                  [checked]="isCustomImage"
                />
                <div class="radios"></div>
              </label>
              <div *ngIf="isCustomImage" class="mt-4">
                <label
                  class="labels"
                  *ngIf="!customBgUrl"
                  (change)="choiceBackgroundOptions('customImage')"
                  >Choose image
                  <img
                    src="assets/images/help-icon.svg"
                    alt="help-icon"
                    class="img-fluid align-center"
                    matTooltip="Upload image"
                    matTooltipPosition="below"
                  />
                </label>
                <label
                  class="upload-image-box"
                  *ngIf="!customBgUrl"
                  (click)="choiceBackgroundMedia()"
                >
                  <img
                    src="assets/images/upload-image.png"
                    alt="upload-image"
                  />
                  Choose image
                </label>
                <div class="choose-image" *ngIf="customBgUrl">
                  <img alt="bg-demo" class="img-fluid" [src]="customBgUrl" />
                  <i class="fa fa-times" (click)="removeBgImage('custom')"></i>
                </div>
                <label
                  *ngIf="customBgUrl"
                  class="file-change"
                  (click)="choiceBackgroundMedia()"
                  ><img
                    src="assets/images/carousels-v2/editor-images-1.svg"
                    alt="editor-images"
                    class="img-fluid mr-1"
                  />
                  Change image
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="article-detail-right">
      <div class="label-title bg-white w-100">
        Layout Options
        <img
          src="assets/images/help-icon.svg"
          alt="help-icon"
          matTooltip="Layout Options"
          matTooltipPosition="above"
        />
      </div>
      <div class="layout-option-list">
        <img
          *ngFor="let item of layoutList; let i = index"
          [class.select-img]="selectLayout === item?.layout"
          (click)="onSelectLayout(item?.layout)"
          [src]="item?.image"
          class="img-fluid"
          alt="cta-image"
        />
      </div>
    </div>
  </div>
  <div class="article-btnlist">
    <button type="button" (click)="onClickBack()" class="btn btn-back">
      Back
    </button>
    <button type="button" (click)="generateArticle()" class="btn btn-next">
      Generate Article
      <span
        [matTooltip]="creditMessage"
        class="credit-div"
        matTooltipPosition="above"
        ><i class="fa fa-cubes" aria-hidden="true"></i
        >{{ creditDeducated }}</span
      >
    </button>
  </div>
</div>
