<mat-dialog-content>
  <div class="id-onboard-process">
    <h6 class="text-center mb-3">
      🚀 Welcome aboard! We're thrilled to have you join us! Integrating
      LinkedIn into our platform is a fantastic way to enhance your experience
      and broaden your network. Here's a detailed guide to help you seamlessly
      connect your LinkedIn account:
    </h6>
    
    <div class="right_div">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem>
          <div class="slidediv">
            <img src="assets/images/onboard-integration-1.jpg" alt="slide" />
          </div>
        </div>
        <div ngxSlickItem>
          <div class="slidediv">
            <img src="assets/images/onboard-integration-2.jpg" alt="slide" />
          </div>
        </div>
        <div ngxSlickItem>
          <div class="slidediv">
            <img src="assets/images/onboard-integrationt-3.jpg" alt="slide" />
          </div>
        </div>
        <div ngxSlickItem>
          <div class="slidediv">
            <img src="assets/images/onboard-integration-4.jpg" alt="slide" />
          </div>
        </div>
        <div ngxSlickItem>
          <div class="slidediv">
            <img src="assets/images/onboard-integration-5.jpg" alt="slide" />
          </div>
        </div>
      </ngx-slick-carousel>
    </div>  
  </div>
</mat-dialog-content>