.ide-brand-kit-modal {
    padding: 10px 0px;
    text-align: center;
  .img-fluid {
    margin-bottom: 12px;
  }
  .text1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #172b4d;
    margin-bottom: 12px;
  }
  .text2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #172b4d;
    margin-bottom: 16px;
  }
  .btn-create {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #ffffff;
    padding: 8px 16px;
    background: #f53d00;
    border-radius: 4px;
  }
}
