<mat-dialog-content>
  <div class="ide-brand-kit-modal">
    <img
      class="img-fluid"
      src="assets/images/brand-kit-modal.png"
      alt="brand-kit-modal"
    />
    <div class="text1">Create Your Brand Kit to Get Started</div>
    <div class="text2">
      It looks like you haven't set up your brand kit yet. To proceed, please
      create your brand kit. It ensures consistency and streamlines your content
      creation.
    </div>
    <a class="btn btn-create" (click)="redirectBrandkit()">Create Brand Kit</a>
  </div>
</mat-dialog-content>
