<div class="register_midd">
  <div class="right_div">
    <div class="tophead">
      <a href="/" class="logo">
        <img
          class="avatar"
          src="assets/images/logo/logo.svg"
          alt="logo"
          width="160"
        />
      </a>
    </div>
    <div>
      <div class="slidediv">
        <img src="assets/images/slider/integration.svg" alt="integration" />
      </div>
    </div>
  </div>
  <div class="left_div">
    <div class="created-progress">
      <div class="insidebar" style="width: 30%"></div>
    </div>
    <div class="formcontent">
      <h3 class="title-1">Integration</h3>
      <p class="title-2">
        Install Identable x chrome extension to integrate your Linkedin account,
        follow the below tutorial to install and run Identable x
      </p>
      <form class="text-left">
        <img
          class="img-fluid"
          src="assets/images/slider/integration-1.svg"
          alt="integration"
        />
        <button type="button" class="btn btn-simple btn-block p-2 mb-5 mt-2">
          watch tutorial
        </button>
        <div class="row">
          <div class="col-6">
            <button type="button" class="btn btn-simple btn-block">Back</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-submit btn-block">
              Install identable x
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="register_midd">
  <div class="right_div">
    <div class="tophead">
      <a href="/" class="logo">
        <img
          class="avatar"
          src="assets/images/logo/logo.svg"
          alt="logo"
          width="160"
        />
      </a>
    </div>
    <div>
      <div class="slidediv">
        <img
          class="img-fluid"
          src="assets/images/slider/integration-2.svg"
          alt="integration"
        />
      </div>
    </div>
  </div>
  <div class="left_div">
    <div class="created-progress">
      <div class="insidebar" style="width: 50%"></div>
    </div>
    <div class="formcontent">
      <img
        src="assets/images/tick-icon.svg"
        alt="tick"
        width="75"
        class="mb-3"
      />
      <h3 class="title-1">Integration Successful</h3>
      <p class="title-2">
        Your linked-in account has been successfully verified. Click below to
        Continue
      </p>
      <form class="text-left">
        <div class="bboxs-main">
          <div class="lists">
            <img class="img" src="assets/images/demo.png" alt="demo" />
            <h5 class="name">Charan.design</h5>
            <div class="connect">Linkedin</div>
          </div>
          <button type="button" class="btn">Connected</button>
        </div>
        <div class="row">
          <div class="col-6">
            <button type="button" class="btn btn-simple btn-block">Back</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-submit btn-block">
              Continue
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="register_midd">
  <div class="right_div">
    <div class="tophead">
      <a href="/" class="logo">
        <img
          class="avatar"
          src="assets/images/logo/logo.svg"
          alt="logo"
          width="160"
        />
      </a>
    </div>
    <div>
      <div class="slidediv">
        <img
          class="img-fluid"
          src="assets/images/slider/integration-2.svg"
          alt="integration"
        />
      </div>
    </div>
  </div>
  <div class="left_div">
    <div class="created-progress">
      <div class="insidebar" style="width: 70%"></div>
    </div>
    <div class="formcontent">
      <h3 class="title-1">What would you like to use identable for ?</h3>
      <form class="text-left">
        <div class="w-100 d-inline-block">
          <div class="clickbox cl-select">
            <img
              class="img-fluid"
              src="assets/images/use-for-1.svg"
              alt="use-for"
              width="32"
            />
            Personal Branding
          </div>
          <div class="clickbox">
            <img
              class="img-fluid"
              src="assets/images/use-for-2.svg"
              alt="use-for"
              width="32"
            />
            Marketing
          </div>
          <div class="clickbox">
            <img
              class="img-fluid"
              src="assets/images/use-for-3.svg"
              alt="use-for"
              width="32"
            />
            Sales Enablement
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-6">
            <button type="button" class="btn btn-simple btn-block">Back</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-submit btn-block">
              Continue
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
