<div class="btnlistdiv">
  <h4 class="titles">Select voice</h4>
  <button type="button" class="btn btn-can" (click)="onClose()">Cancel</button>
  <!-- <button type="button" class="btn btn-saves" (click)="onSubmit()">
    Save
  </button> -->
</div>
<mat-dialog-content class="p-0">
  <div class="popbox">
    <table class="table mb-0">
      <tr>
        <th class="table-td">Language</th>
        <th class="table-td">Gender</th>
        <th class="table-td">Sample Voice</th>
        <th class="table-td">Voice</th>
      </tr>
      <tr *ngFor="let audio of audioList">
        <td class="table-td">{{ audio?.name }} ({{ audio?.language }})</td>
        <td class="table-td">{{ audio?.gender }}</td>
        <td class="table-td">
          <audio controls>
            <source [src]="audio?.audioUrl" type="audio/mpeg" />
          </audio>
        </td>
        <td class="table-td">
          <button
            type="button"
            class="btn-addpost"
            (click)="selectAudio(audio)"
          >
            Select
          </button>
        </td>
      </tr>
    </table>
  </div>
</mat-dialog-content>
