<mat-dialog-content>
  <div class="p-2 text-center">
    <img class="mb-4" src="assets/images/only-desktop.png" width="150" alt="" />
    <h4 style="color: #000; font-size: 18px; margin-bottom: 15px">
      Only for the desktop Chrome browser.
    </h4>
    <p style="color: #333; font-size: 14px; margin-bottom: 25px">
      Not compatible with mobile devices; only compatible with the desktop
      version of the Chrome browser.
    </p>
    <p style="color: #666; font-size: 12px">
      If you want learn more about the product and features, please reach out to
      <a
        href="mailto:team@identable.club"
        class="font-semibold text-blue-500 transition-all duration-150 hover:text-blue-600"
      >
      team@identable.club </a
      >to get a free 1-1 demo.
    </p>
  </div></mat-dialog-content
>
