<div class="topdiv">
  <h2 class="main-title d-flex align-items-center">Job Request Data</h2>
  <button
    type="button"
    class="btn-addpost"
    matTooltip=""
    matTooltipPosition="below"
    matTooltipClass="below"
    (click)="openFilterDailog()"
  >
    <i class="fa fa-filter"></i>
  </button>
</div>
<div class="boxviewlist">
  <div class="table_box">
    <div class="table_responsive">
      <table class="table">
        <colgroup>
          <col width="18%" />
          <col width="25%" />
          <col width="10%" />
          <col width="10%" />
          <col width="9%" />
          <col width="15%" />
          <col width="6%" />
          <col width="7%" />
        </colgroup>
        <thead>
          <tr>
            <th>User Name</th>
            <th>Job Type</th>
            <th>Submitted Date</th>
            <th>Job Trigger Response Date</th>
            <th>Job Response Date</th>
            <th>Job Response Id</th>
            <th>Status</th>
            <th>Action Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="jobRequestData?.length == 0 || !isDataLoaded">
            <td colspan="7" class="text-center pt-3 pb-3">
              {{ isDataLoaded ? "No records found" : "Loading..." }}
            </td>
          </tr>
          <tr *ngFor="let item of jobRequestData; let i = index">
            <td>
              <div class="nameicon">
                <img
                  [src]="
                    item?.profileImagUrl
                      ? item?.profileImagUrl
                      : 'assets/images/avatar/avatar.png'
                  "
                  alt="User Profile"
                />
                <span class="txt1">{{ item?.name }}</span>
              </div>
            </td>
            <td>
              <div class="jobdiv">
                <span class="txt1"> {{ item?.requestData?.job_type }}</span>
              </div>
            </td>
            <td>
              <div class="jobdiv">
                <span class="txt1">
                  {{ item?.submittedAt | date : "MMM d, y" }}</span
                >
                <span class="txt2">
                  {{ item?.submittedAt | date : "hh:mm:ss a" }}</span
                >
              </div>
            </td>
            <td>
              <div class="jobdiv">
                <span class="txt1">
                  {{ item?.jobTriggerResponseAt | date : "MMM d, y" }}</span
                >
                <span class="txt2">
                  {{ item?.jobTriggerResponseAt | date : "hh:mm:ss a" }}</span
                >
              </div>
            </td>
            <td>
              <div class="jobdiv">
                <span class="txt1">
                  {{ item?.responseAt | date : "MMM d, y" }}</span
                >
                <span class="txt2">
                  {{ item?.responseAt | date : "hh:mm:ss a" }}</span
                >
              </div>
            </td>
            <td>
              <div class="jobdiv word-break">
                <span class="txt1">
                  {{ item?.jobTriggerResponse?.taskId }}</span
                >
              </div>
            </td>
            <td>
              <div class="jobdiv">
                <span class="txt1 text-capitalize"> {{ item?.status }}</span>
              </div>
            </td>
            <td>
              <a
                class="download-icon"
                matTooltip="Download"
                (click)="download(i)"
              >
                <i
                  class="fa fa-download"
                  aria-hidden="true"
                  style="font-size: 18px"
                ></i>
              </a>
              <a
                *ngIf="item?.status != 'success'"
                class="restart-icon"
                matTooltip="Restart"
                (click)="restartJobRequest(i)"
              >
                <i
                  class="fa fa-refresh"
                  aria-hidden="true"
                  style="font-size: 18px"
                ></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChanged)="onPageChange($event)"
    ></app-pagination>
  </div>
</div>
<app-loader></app-loader>
