<div>
  <div class="customdrop-head">
    <h3 class="droptitle">Ai Image Generate</h3>
    <span class="dropclose" [mat-dialog-close]="false">X</span>
  </div>
  <mat-dialog-content>
    <button class="btn btn-save" type="button" (click)="generateAiImage()">
      <img width="20" src="assets/images/star-two-white.svg" alt="star" />
      Generate Ai Image
      <span
        [matTooltip]="creditMessage"
        class="credit-div"
        matTooltipPosition="above"
        ><i class="fa fa-cubes" aria-hidden="true"></i
        >{{ creditDeducated }}</span
      >
    </button>
    <!-- <p class="labels-credit mb-3 mt-3">
      You have
      <span [style.color]="isImageGenerateCredit > 0 ? 'green' : 'red'">
        {{ isImageGenerateCredit < 50 ? isImageGenerateCredit : "Unlimited" }}
      </span>
      Ai Image generate credits remaining in your account.
    </p> -->
    <h4 class="titles mb-3">Generated Images</h4>
    <div class="giphylist">
      <div class="giphy" *ngFor="let image of aiImageList; let i = index">
        <img [src]="image?.imageUrl" (click)="selectImage(image?.imageUrl)" />
      </div>
    </div>
  </mat-dialog-content>
</div>
