<div class="customdrop-head">
  <h3 class="droptitle">Select Video Collection</h3>
  <span class="dropclose" [mat-dialog-close]="false">X</span>
</div>
<mat-dialog-content>
  <form [formGroup]="imageTypeForm">
    <div class="popbox">
      <div data-toggle="buttons" class="btn-group-toggle">
        <label *ngFor="let option of imageOptions" class="btn btn-simple">
          <input
            type="radio"
            formControlName="imageType"
            [value]="option.value"
          />
          <img [src]="option.imageSrc" [alt]="option.label" />
          {{ option.label }}
        </label>      
        
      </div>
    </div>
  </form>
  <div
    class="invalid-feedback d-block"
    *ngIf="isSubmtted && imageTypeForm.invalid"
  >
    Please select any image type.
  </div>
</mat-dialog-content>
<div class="btnlistdiv">
  <button type="button" (click)="close()" class="btn btn-can">Cancel</button>
  <button type="button" (click)="submit()" class="btn btn-saves">
    Continue
  </button>
</div>
