.ide-boxes {
  padding: 8px;
  height: 100%;
  background-color: #faf9f7;
  .ide-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #001141;
    padding: 0 8px;
  }
  .ide-boxes-div {
    margin-top: 16px;
    overflow: auto;
    height: calc(100vh - 115px);
    padding: 8px 4px 8px 8px;
    background: #ffffff;
    border-radius: 4px;
  }
}

.middle-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .title-1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #172b4d;
    margin-bottom: 10px;
  }

  .themeimg {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    border: 3px solid #fff;
    cursor: pointer;

    .themebtns {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      cursor: pointer;
      transform: translate(-50%, -50%);
    }

    &:before {
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
      .themebtns {
        opacity: 1;
      }
    }

    &.select-theme {
      opacity: 1;
      border-color: #ec4a0a;
    }
  }

  .imgs {
    display: block;
    width: 100%;
  }
}
