.customdrop-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 15px 20px;
  .droptitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #172b4d;
  }
  .btn-download {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #172b4d;
    background: #ffffff;
    border: 1px solid rgba(0, 29, 108, 0.75);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 14px;
    gap: 10px;
  }
  .dropdown-menu {
    padding: 5px 0;
    background: #ffffff;
    border: 1px solid #f2f4f7;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
      0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    border-radius: 4px;
    overflow: hidden;
    .droplink {
      color: #172b4d;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      padding: 6px 14px;
      display: block;
      cursor: pointer;
      &:hover {
        background: #edf3fe;
      }
    }
  }
}

.mat-mdc-dialog-content {
  background: #e8e9eb;
  padding: 16px;
}

.custom-foot {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  border-top: 1px solid #eee;
  padding: 15px 20px;
  .btn-cancel {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #172b4d;
    padding: 4px 12px;
    border: 1px solid #626f86;
    border-radius: 4px;
  }
}

//
.clg-top-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  .leftside {
    padding-left: 40px;
    position: relative;
  }
  .ide-back-btn {
    position: absolute;
    left: 0;
    top: 12px;
  }
  .titles {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #001141;
    margin-bottom: 8px;
  }
  .desq {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #393939;
  }
  .btn-simple {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #001141;
    padding: 6px 12px;
    background: #fff;
    border: 1px solid #525252;
    border-radius: 4px;
    margin: 3px 10px;

    &:hover {
      background: #ffdad1;
      border: 1px solid #393939;
    }
  }
  .btn-schedule {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    padding: 6px 12px;
    background: #f53d00;
    border: 1px solid #f53d00;
    border-radius: 4px;
    margin: 3px 5px;
  }
  .break-line {
    display: inline-block;
    height: 30px;
    width: 1px;
    margin: 0 5px;
    background-color: #c6c6c6;
    vertical-align: middle;
  }
}

.ide-top-editor {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px;
  background: #ffffff;
  border-radius: 4px;
  margin-bottom: 10px;
  .btn-emoji {
    color: #001141;
    font-weight: 500;
    font-size: 14px;
    padding: 0.3rem 0.75rem 0.3rem 0.3rem;
    text-transform: capitalize;
    background-color: #f4f4f4;
    &:hover {
      background-color: #f9f9f9;
    }
  }
  .btn-regenerate {
    color: #001141;
    font-weight: 500;
    font-size: 14px;
    padding: 0.3rem 0.75rem 0.3rem 0.3rem;
    text-transform: capitalize;
    &:hover {
      background-color: #f9f9f9;
    }
  }
  .editor-icons-list {
    padding: 0 10px;
    display: inline-block;
    .img-fluid {
      margin: 0 5px;
      cursor: pointer;
      border-radius: 4px;
      &:hover {
        background-color: #f4f4f4;
      }
    }
    .select-icon {
      background-color: #f4f4f4;
    }
  }
}
.disable-class {
  opacity: 0.3;
  pointer-events: none;
}

.ide-editor-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .ide-leftdiv {
    padding: 16px;
    background: #ffffff;
    border-radius: 4px;
  }
  .ide-rightdiv {
    width: 28%;
    float: left;
    background: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    .custom-tab-list {
      display: flex;
      width: 100%;
      background-color: #fff;
      border-bottom: 1px solid rgba(9, 30, 66, 0.14);
      border-radius: 1px;
      .btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #172b4d;
        padding: 15px;
        position: relative;
        .counts {
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
          text-align: center;
          color: #ffffff;
          padding: 2px 6px;
          background: #c9372c;
          border-radius: 8px;
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .active-btn {
        color: #f53d00;
        &:before {
          content: "";
          position: absolute;
          height: 2px;
          left: 8px;
          right: 8px;
          bottom: 0px;
          border: 1px solid #f53d00;
          border-radius: 2px;
        }
      }
    }
    .custom-tab-content {
      padding: 14px;
      height: 65vh;
      overflow: auto;
    }
    .btn-add-topic {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
      padding: 8px 16px;
      margin-bottom: 10px;
      background: #f53d00;
      border-radius: 4px;
      position: sticky;
      top: 0;
      z-index: 1;
    }
    .custom-tabcontent-1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .layers-drag {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 16px;
        gap: 8px;
        background: #ffffff;
        border: 1px solid #8590a2;
        border-radius: 4px;
        .text {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #172b4d;
          padding: 2px 5px;
        }
        .trash-img {
          opacity: 0;
        }
        &:hover {
          .trash-img {
            opacity: 1;
          }
        }
      }
    }
    .custom-label-1 {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #172b4d;
    }
    .seo-score-div {
      width: 100%;
      display: inline-block;
      text-align: center;
      .main-text1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #bb8800;
        margin-bottom: 8px;
      }
      .main-text2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #2c3e5d;
        margin-bottom: 20px;
        .sub1 {
          font-weight: 600;
          color: #172b4d;
        }
        .sub2 {
          font-weight: 600;
          color: #bb8800;
        }
      }
      .seo-btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        padding: 4px 12px;
        width: 94%;
        margin: 0 3%;
        background: #f53d00;
        border-radius: 4px;
      }
      .seo-ranks-div {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        .seo-rank {
          text-align: center;
          padding: 0 3px;
        }
        .seo-range {
          display: inline-block;
          width: 100%;
          height: 8px;
          background: #f1f2f4;
        }
        .seo-text {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #44546f;
          margin-top: 10px;
        }
        .seo-no-range-data {
          height: 10px;
          width: 10px;
          background-color: #999;
          border-radius: 50%;
          margin: 0 auto;
        }
      }
    }
    .seo-info-div {
      width: 100%;
      display: inline-block;
      text-align: left;
      .seo-info {
        width: 100%;
        gap: 10px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .text-1 {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #2c3e5d;
      }
      .boxs {
        display: inline-block;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 5px;
        left: 0;
      }
    }
    .seo-suggest-div {
      display: inline-block;
      width: 100%;
      padding: 12px 8px;
      background: #ffffff;
      border: 1px solid rgba(0, 17, 65, 0.6);
      border-radius: 4px;
      .seo-suggest-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .text-1 {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-transform: capitalize;
          color: #172b4d;
        }
      }
      .progress {
        height: 6px;
        margin: 15px 0;
      }
      ul {
        padding-left: 25px;
        list-style: disc;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #2c3e5d;
        li {
          margin: 5px 0;
        }
      }
    }
  }
  .article-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px auto;
    max-width: 950px;
    padding: 10px;
    border: 1px solid #eee;
    * {
      outline: none;
    }
    .article-imgdiv-1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 15px;
      .main-img {
        width: 100%;
        height: 200px;
        position: relative;
        .img-fluid {
          object-fit: cover;
          height: 200px;
          width: 100%;
        }
        .img-layer {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
      .imgdiv-content {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 24px;
        background: #333333;
        .avtar-img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
        .text {
          font-weight: 600;
          font-size: 32px;
          line-height: 40px;
          color: #ffffff;
          height: 160px;
          overflow: hidden;
        }
      }
    }
    .article-imgdiv-2 {
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      .main-img {
        width: 50%;
        position: relative;
        .img-fluid {
          width: 100%;
          object-fit: cover;
          height: 250px;
        }
        .img-layer {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
      .imgdiv-content {
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 24px;
        background: #333333;
        min-height: 240px;
        .avtar-img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
        .text {
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          color: #ffffff;
          margin-bottom: 15px;
          height: 130px;
          overflow: hidden;
        }
      }
    }
    .article-imgdiv-3 {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      margin-bottom: 15px;
      .main-img {
        width: 50%;
        position: relative;
        .img-fluid {
          width: 100%;
          object-fit: cover;
          height: 250px;
        }
        .img-layer {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
      .imgdiv-content {
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 24px;
        background: #333333;
        min-height: 240px;
        .avtar-img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
        .text {
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          color: #ffffff;
          margin-bottom: 15px;
          height: 130px;
          overflow: hidden;
        }
      }
    }
    .cta-imgdiv-1 {
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      background: #ffffff;
      border-radius: 32px;
      overflow: hidden;
      min-height: 160px;
      .main-img {
        display: none;
      }
      .imgdiv-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 24px 48px;
        gap: 24px;
        background: #efd4ff;
        .text {
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          color: #1e1e1e;
        }
        .btn-cta {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          text-transform: capitalize;
          color: #f53d00;
          padding: 8px 16px;
          background: #ffffff;
          border-radius: 4px;
        }
      }
    }
    .cta-imgdiv-2 {
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      background: #ffffff;
      border-radius: 32px;
      overflow: hidden;
      min-height: 160px;
      padding: 24px;
      position: relative;
      .main-img {
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .imgdiv-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 40px;
        gap: 16px;
        background: #efd4ff;
        border-radius: 8px;
        position: relative;
        margin: 0 auto;
        .text {
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          color: #1e1e1e;
        }
        .btn-cta {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          text-transform: capitalize;
          color: #fff;
          padding: 8px 16px;
          background: #f53d00;
          border-radius: 4px;
        }
      }
    }
    .cta-imgdiv-3 {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      margin-bottom: 15px;
      background: #ffffff;
      border-radius: 32px;
      overflow: hidden;
      min-height: 160px;
      .main-img {
        width: 46%;
        height: 160px;
        object-fit: cover;
      }
      .imgdiv-content {
        width: 54%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        padding: 16px 32px;
        gap: 16px;
        background: #efd4ff;
        .text {
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          color: #1e1e1e;
        }
        .btn-cta {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          text-transform: capitalize;
          color: #fff;
          padding: 8px 16px;
          background: #f53d00;
          border-radius: 4px;
        }
      }
    }
    .cta-imgdiv-4 {
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      background: #ffffff;
      border-radius: 32px;
      overflow: hidden;
      min-height: 160px;
      .main-img {
        width: 46%;
        height: 160px;
        object-fit: cover;
      }
      .imgdiv-content {
        width: 54%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        padding: 16px 32px;
        gap: 16px;
        background: #efd4ff;
        .text {
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          color: #1e1e1e;
        }
        .btn-cta {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          text-transform: capitalize;
          color: #fff;
          padding: 8px 16px;
          background: #f53d00;
          border-radius: 4px;
        }
      }
    }
    .header-1 {
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      color: #000000;
      margin-bottom: 16px;
    }
    .header-2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
      margin-bottom: 16px;
    }
    .desq {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 32px;
    }
    ul {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      padding-left: 30px;
      margin-bottom: 32px;
      list-style: disc;
      list-style-position: outside;
    }
    ol {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      padding-left: 30px;
      margin-bottom: 32px;
      list-style: decimal;
      list-style-position: outside;
    }
    ::ng-deep {
      .divider-wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
        .delete-btn {
          opacity: 0;
          position: absolute;
          right: 0;
          top: 0;
          cursor: pointer;
        }
        &:hover {
          .delete-btn {
            opacity: 1;
          }
        }
      }
      pre {
        color: #fff;
        background: #1e1e1e;
        border-radius: 10px;
        display: block;
        padding: 20px;
        white-space: pre-wrap;
      }
      blockquote {
        color: #000000;
        font-size: 20px;
        line-height: 24px;
        padding: 5px 5px 5px 20px;
        margin-bottom: 15px;
        border-left: 5px solid #666;
      }
      .upload-images-main {
        margin: 10px auto;
        position: relative;
        text-align: center;
        &:hover {
          .upload-images-action {
            opacity: 1;
          }
        }
        .upload-images-action {
          display: flex;
          align-items: flex-start;
          justify-content: end;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          background-color: rgba(0, 0, 0, 0.6);
          img {
            filter: brightness(10);
          }
        }
      }
      .embed-details-div {
        border: 1px solid #999;
        border-radius: 8px;
        width: 100%;
        display: flex;
        flex-direction: row;
        object-fit: contain;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        &:hover {
          .embed-action {
            opacity: 1;
          }
        }
        .embed-action {
          display: flex;
          align-items: flex-start;
          justify-content: end;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          opacity: 0;
          background-color: rgba(0, 0, 0, 0.6);
          img {
            filter: brightness(10);
          }
        }
        .embed-images {
          flex: 0 0 34%;
          overflow: hidden;
          position: relative;
          .img-fluid {
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }
        .embed-data {
          display: flex;
          flex: 0 0 66%;
          flex-direction: column;
          gap: 10px;
          padding: 20px;
          .embed-title {
            color: #000;
            font-size: 22px;
            font-weight: 500;
            line-height: 1.2;
          }
          .embed-description {
            color: #000;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.4;
          }
          .embed-provider {
            color: #000;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.2;
          }
        }
      }
    }
  }
}
.schedule-popup {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9;
  overflow: auto;
  max-width: 340px;
  min-width: 320px;
  display: inline-block;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
}
