::ng-deep .custom-choice-carousel-modal {
  .mat-mdc-dialog-content {
    padding: 10px 20px !important;
    max-height: 75vh !important;
    background-color: #fafafa;
  }
}

.customdrop-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 22px;

  .droptitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #172b4d;
  }

  .dropclose {
    cursor: pointer;
  }
}

.custom-tab-main {
  width: 100%;
  display: inline-block;
  .custom-tab-list {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(9, 30, 66, 0.14);
    border-radius: 1px;
    .btn {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #172b4d;
      padding: 15px;
      position: relative;
    }
    .active-btn {
      color: #f53d00;
      &:before {
        content: "";
        position: absolute;
        height: 2px;
        left: 8px;
        right: 8px;
        bottom: 0px;
        border: 1px solid #f53d00;
        border-radius: 2px;
      }
    }
    .coming-soon {
      font-weight: 400;
      font-size: 10px;
      line-height: 10px;
      text-align: center;
      color: #cc3300;
      padding: 2px 4px;
      background: #fdf5ed;
      border-radius: 8px;
    }
  }

  .choice-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 15px;

    .choice-left {
      width: 70%;
      padding: 15px;
      border-radius: 5px;
      background-color: #fff;
    }

    .choice-right {
      width: 28%;
      padding: 15px;
      border-radius: 5px;
      background-color: #fff;
    }

    .title-1 {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #172b4d;
      margin-bottom: 10px;
    }

    .title-2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      color: #001141;
      margin-bottom: 10px;
    }

    .form-group {
      .labels {
        color: #001141;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 3px;

        .sublabel {
          font-weight: 400;
          color: #525252;
        }
      }

      .form-control {
        font-size: 14px;
        box-shadow: none;
        resize: none;
      }
    }

    .btnlistdiv {
      .btn-can {
        color: #344054;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        border-radius: 8px;
        border: 1px solid #d0d5dd;
        background: #fff;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        margin-right: 10px;
      }

      .btn-saves {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        border-radius: 8px;
        border: 1px solid #ec4a0a;
        background: #ec4a0a;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      }
      .credit-div {
        margin-left: 3px;
        font-size: small;
        padding: 2px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    .middle-content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .presetsimg {
        width: 19%;
        margin: 1%;
        margin-top: 0;
        margin-left: 0;
        display: inline-block;
        text-align: center;
        padding: 26px 15px 20px 15px;
        background: #f4f4f4;
        border: 1px solid #525252;
        border-radius: 4px;
        cursor: pointer;
        .temp-title-1 {
          margin-bottom: 4px;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #2c3e5d;
        }
        .temp-title-2 {
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          text-align: center;
          color: #626f86;
        }
        &.select-theme {
          border-color: #ec4a0a;
        }
        &.coming-presets {
          pointer-events: none;
          opacity: 0.8;
          .coming-text {
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            color: #cc3300;
            padding: 2px 4px;
            background: #fdf5ed;
            border-radius: 8px;
            display: inline-block;
            margin-top: 10px;
          }
        }
      }

      .themeimg {
        width: 19%;
        margin: 1%;
        margin-top: 0;
        margin-left: 0;

        .themeimgdiv {
          width: 100%;
          border-radius: 10px;
          overflow: hidden;
          position: relative;
          border: 3px solid #fff;
          opacity: 0.9;
          cursor: pointer;
          margin-bottom: 8px;
          &:before {
            content: "";
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
          }
        }
        .temp-title-1 {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #626f86;
          margin-bottom: 4px;
        }
        .temp-title-2 {
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          color: #626f86;
        }

        &.select-theme {
          .themeimgdiv {
            opacity: 1;
            border-color: #ec4a0a;
          }
        }

        &:hover {
          .themeimgdiv {
            &:before {
              opacity: 1;
            }
          }

          .themebtns {
            opacity: 1;
          }

          .counts {
            opacity: 1;
          }
        }
      }

      .themebtns {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        cursor: pointer;
        transform: translate(-50%, -50%);

        img {
          cursor: pointer;
          margin: 3px;
        }
      }

      .imgs {
        display: block;
        width: 100%;
      }

      .counts {
        opacity: 0;
        color: #fff;
        font-size: 10px;
        line-height: 1.1;
        padding: 4px 6px;
        border-radius: 4px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #2f3164;
      }

      .carousel-name {
        color: black;
        margin-top: 5px;
      }
    }

    .select-length {
      display: flex;
      align-items: center;
      position: relative;

      .form-control {
        border: none;
        width: 50px;
        text-align: center;
      }
      .btns {
        color: #1d2939;
        font-weight: 500;
        font-size: 16px;
        padding: 5px;
        width: 32px;
        height: 32px;
        text-align: center;
        display: inline-block;
        border-radius: 2px;
        background: #f2f4f7;
        cursor: pointer;
      }
    }

    .ide-presets-coming {
      opacity: 0.5;
      pointer-events: none;
      user-select: none;
    }
    .idea-box {
      display: inline-block;
      width: 100%;
      position: relative;
      .form-control {
        background: #ffffff;
        border-radius: 8px;
        resize: none;
        padding-bottom: 20px;
        outline: none;
        box-shadow: none;
        &.ide-select-div {
          border-color: #ff6f47;
        }
        &:hover {
          border-color: #f53d00;
        }
      }
      .promt-action {
        background-color: #fff;
        position: absolute;
        bottom: 2px;
        right: 15px;
      }
    }
  }
}

.no-data {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 50px 0;
  color: #001141;
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  .middle-content {
    .themeimg {
      width: 24%;
    }
  }
}

@media screen and (max-width: 767px) {
  .middle-content {
    .themeimg {
      width: 32.33%;
    }
  }
}

@media screen and (max-width: 640px) {
  .middle-content {
    .themeimg {
      width: 49%;
    }
  }
}

@media screen and (max-width: 480px) {
  .middle-content {
    .themeimg {
      width: 99%;
    }
  }
}
