<div class="ide-summrysub">
  <div class="ide-table">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">
            <h3 class="ide-summary-title">Summary</h3>
            <h3 class="ide-summary-subtitle">Based on your current addons</h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2" class="ide-subtitle">INCLUDED</td>
        </tr>
        <tr>
          <td>Pro Plan</td>
          <td class="text-right">$ 299.00/Mo</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="ide-subtitle ide-border">SUB-TOTAL</td>
        </tr>
        <tr>
          <td>Pro Plan</td>
          <td class="text-right font-bolder">$ 299.00</td>
        </tr>
        <tr>
            <td class="ide-credit">Credit</td>
            <td class="text-right font-bolder ide-credit">$ -149.00</td>
          </tr>
        <tr>
          <th>Total</th>
          <th class="text-right">$ 150.00</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="ide-btnsec">
    <div class="ide-btnsdiv">
      <button type="button" class="btn ide-contubtn w-100" disabled="">
        Continue Upgrade
      </button>
    </div>
  </div>
</div>
