.middsec {
  background-color: #fff;
}

.tophead {
  display: inline-block;
  width: 100%;
  padding: 25px 40px;
  border-bottom: 1px solid #d0d5dd;
  .logout-btn {
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #344054;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 16px;
    float: right;
    cursor: pointer;
  }
}

.middsec {
  padding: 50px 0;
  .container {
    max-width: 1280px;
  }
  .title {
    color: #101828;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .subtitle {
    color: #344054;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  .plan-switch {
    display: inline-block;
    padding: 8px;
    margin: 40px 0;
    border-radius: 8px;
    background: #f2f4f7;
    .ide-btn {
      color: #1d2939;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      border-radius: 4px;
      display: inline-block;
      padding: 8px;
      cursor: pointer;
    }
    .ide-active {
      font-weight: 600;
      background: #fff;
    }
  }
  .plantable-list {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: left;
    overflow: auto;
    .table {
      margin-bottom: 0;
      min-width: 900px;
      width: 100%;
      color: #212529;
      th {
        padding: 0.75rem;
        vertical-align: bottom;
        text-align: left;
        border-top: none;
        border-bottom: none;
        &:first-child {
          padding-left: 35px;
        }
      }
      td {
        color: #101828;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        text-transform: capitalize;
        vertical-align: middle;
        padding: 0.9rem 0.75rem;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        .fa-check {
          color: #039855;
        }
        .fa-times {
          color: #98a2b3;
        }
      }
      .popular-label {
        display: inline-block;
        font-size: 12px;
        line-height: 1;
        font-weight: 600;
        padding: 6px 20px;
        color: #fff;
        border-radius: 4px;
        background: #ec4a0a;
        position: absolute;
        top: -10px;
        left: 20px;
      }
      .plan-title {
        color: #101828;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 20px;
        line-height: normal;
        text-transform: capitalize;
      }
      .ide-price {
        line-height: 1;
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
        .custprice-bold {
          color: #101828;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          text-transform: capitalize;
        }
        .txt2-bold {
          color: #475467;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
      .worktext {
        color: #475467;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 20px;
      }
      .ide-btn {
        color: #c4320a;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        display: inline-block;
        padding: 5px 12px;
        border-radius: 8px;
        border: 1px solid #feb273;
        background: #fff6ed;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        cursor: pointer;
        &:hover {
          color: #fff;
          background-color: #ec4a0a;
          border-color: #ec4a0a;
        }
        &.actives {
          color: #fff;
          background-color: #ec4a0a;
          border-color: #ec4a0a;
        }
      }
      .td-subtitle {
        color: #101828;
        font-weight: 600;
        background: #f9fafb;
      }
      .headbox {
        padding: 20px;
        border-radius: 16px;
        border: 1px solid #fddcab;
        background: #fff;
        position: relative;
        &.populardiv {
          border-color: #fb6514;
          background: #fffaf5;
          .ide-btn {
            color: #fff;
            background-color: #ec4a0a;
            border-color: #ec4a0a;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .tophead {
    padding: 25px 20px;
  }
  .middsec {
    padding: 30px 0;
    .title {
      font-size: 26px;
    }
    .plantable-list {
      .table {
        .plan-title {
          font-size: 20px;
        }
        .ide-price {
          .custprice-bold {
            font-size: 28px;
          }
        }
        .worktext {
          font-size: 16px;
        }
        .ide-btn {
          font-size: 14px;
        }
        td {
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .middsec {
    .title {
      font-size: 22px;
    }
  }
}
.payboxmain {
  background-color: #fffaf5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  .paybox {
    border-radius: 16px;
    border: 1px solid #e4e7ec;
    background: #fff;
    padding: 40px;
    width: 100%;
    display: inline-block;
    max-width: 480px;
    text-align: center;
    img {
      width: 100px;
      margin-bottom: 40px;
    }
    h3 {
      color: #101828;
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 16px;
    }
    h4 {
      color: #000000;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    h6 {
      color: #475467;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 30px;
    }
    p {
      color: #667085;
      font-size: 14px;
      font-weight: 400;
      margin-top: 30px;
    }
    a {
      color: #c4320a;
      cursor: pointer;
    }
    .btn {
      font-size: 14px;
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 15px;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
    .btn-1 {
      color: #fff;
      background: #ec4a0a;
      border: 1px solid #ec4a0a;
    }
    .btn-2 {
      color: #c4320a;
      background: #fff6ed;
      border: 1px solid #feb273;
    }
  }
}

@media screen and (max-width: 767px) {
  .payboxmain {
    padding: 10px;
    .paybox {
      padding: 20px;
      img {
        margin-bottom: 40px;
      }
      h3 {
        font-size: 26px;
      }
      h4 {
        font-size: 18px;
        margin-bottom: 20px;
      }
      h6 {
        font-size: 16px;
      }
      p {
        margin-bottom: 40px;
      }
    }
  }
}
