.rightbox {
  width: 100%;
  display: inline-block;
  max-width: 880px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(9, 30, 66, 0.12),
    0px 0px 8px rgba(9, 30, 66, 0.16);
  border-radius: 8px;
  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #172b4d;
    margin-bottom: 8px;
  }
  .titlesub {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #44546f;
    margin-bottom: 40px;
  }
  .bboxs-main {
    border: 1px solid #f2f4f7;
    border-radius: 16px;
    background: #f9fafb;
    padding: 16px;
    margin: 16px 0;
    width: 100%;
    display: inline-block;
    .subtitle1 {
      color: #101828;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  .bboxs {
    display: inline-block;
    width: 100%;
    label {
      color: #344054;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 2px;
      display: block;
    }
  }
  .boxcus {
    display: flex;
    align-items: center;
    .form-control {
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      border: 1px solid #d0d5dd;
      background: #ffffff;
      padding: 10px 14px;
      height: 44px;
    }
    .btn-save {
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      border: 1px solid #d0d5dd;
      background: #ffffff;
      color: #344054;
      font-weight: 500;
      font-size: 16px;
      height: 44px;
      margin-left: 12px;
    }
  }

  .bboxs-main1 {
    border: 1px solid #758195;
    border-radius: 8px;
    margin-bottom: 16px;
    width: 100%;
    display: inline-block;
    .bboxs1 {
      width: 100%;
      display: inline-block;
      padding: 24px 16px;
      .title1 {
        color: #101828;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        display: inline-block;
      }
      .price {
        color: #c4320a;
        font-weight: 500;
        font-size: 14px;
        background: #fff6ed;
        border-radius: 16px;
        padding: 2px 10px;
        display: inline-block;
        vertical-align: middle;
      }
      .txt2 {
        color: #667085;
        font-weight: 400;
        font-size: 16px;
        display: block;
      }
    }
    .bboxs2 {
      width: 100%;
      display: inline-block;
      padding: 10px 16px;
      border-top: 1px solid #eaecf0;
      .btn-upgrade {
        color: #c4320a;
        font-size: 14px;
        font-weight: 500;
        padding: 0;
      }
    }
  }

  .appsumodiv {
    .bboxs1 {
      .title1 {
        color: #ec4a0a;
      }
    }
    .bboxs2 {
      .form-control {
        border-color: #ec4a0a;
      }
      .btn-save {
        color: #fff;
        background-color: #ec4a0a;
      }
    }
  }

  .btnlist {
    border-top: 1px solid #e4e7ec;
    display: inline-block;
    width: 100%;
    padding-top: 24px;
    .btn-invoice {
      color: #344054;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
      padding: 8px 14px;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      border: 1px solid #d0d5dd;
    }
    .btn-cancel {
      color: #c4320a;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
      padding: 8px 14px;
      border: 1px solid #ec4a0a;
    }
    .btn-next {
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
      padding: 8px 14px;
      background-color: #ec4a0a;
    }
    .btn-disables {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .btn-paynow {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background-color: #039855;
  }
}

.buySubBtn {
  color: #c4320a;
  font-weight: 700;
}
.disabled {
  opacity: 0.6;
  pointer-events: none;
}
